body {
    margin:0px;
    padding:0px;
    background-color:#DFDFDF;
}

h1 {
    color:#C5C5C5;
    font-size:20px;
    margin-left:18px;
}

h4 {
    text-align:center;
    font-family:sans-serif;
    padding:8px;
}

.label {
    position:relative;
    left:10px;
    width:120px;
    text-align:center;
}

.label-station {
    margin-right:5px;
}

.plot {
    width:820px;
    height:190px;
    margin:auto;
    margin-top:-33px;
}

#container {
    width:800px;
}

#dbname {
    font-family: Courier, "Courier New", monospace 
}

#interact {
    text-align:center;
    color:#696969;
    margin:14px;
}

#loading {
    position:absolute;
    top:0px;
    right:0px;
    padding:4px;
    margin:0px;
    background-color:#FFA500;
    color:#FFF;
    font-size:14px;
    font-weight:bold;
    font-family:sans-serif;
}

#station {
    font-family:sans-serif;
    margin-left:18px;
}

#title {
    text-align:center;
    margin-top:8px;
    font-weight:bold;
}

#xlabel {
    text-align:center;
    margin:20px 0px 20px 40px;
}
